<div class="col-sm-12 col-lg-4 mb-3">
  <div id="diary-id-<%= diary.id %>">
    <div class="card">
    <%= image_tag diary.diary_image_url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to diary.title, diaries_path(diary)%>
        </h4>
        <% if current_user.own?(diary) %>
          <%= render 'crud_menus', diary: diary %>
        <% else %>
          <%= render 'bookmark_button', diary: diary %>
        <% end %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= diary.user.decorate.user_name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l diary.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= diary.body %></p>
      </div>
    </div>
  </div>
</div>
